body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #fff;
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  padding: 1.2rem 7%;
}

.header .logo {
  font-family: "Remachine Script Personal Use";
  color: var(--black);
  font-size: 90px;
  margin-right: auto;
}

.header .navbar a {
  color: var(--light-color);
  margin-right: 2rem;
  font-size: 1.7rem;
  text-transform: capitalize;
}

.header .navbar a:hover {
  color: var(--orange);
}

.header .icons i {
  height: 4.5rem;
  line-height: 4.5rem;
  width: 4.5rem;
  text-align: center;
  color: var(--black);
  background: #eee;
  border-radius: 50%;
  margin-left: 0.7rem;
  font-size: 1.7rem;
  cursor: pointer;
}

.header .icons i:hover {
  color: #fff;
  background: var(--orange);
}

main {
  padding: 10px;
}

#gallery {
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.gallery-item {
  position: relative;
  overflow: hidden;
}

.gallery-item img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.gallery-item:hover img {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery-item:hover .overlay {
  opacity: 1;
}

.overlay h2,
.overlay p {
  margin: 0;
}

.overlay h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.overlay p {
  font-size: 16px;
}
