@font-face {
  font-family: "Remachine Script Personal Use Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Remachine Script Personal Use Regular"),
    url("../fonts/RemachineScript_PERSONAL_USE_ONLY.woff") format("woff");
}

:root {
  --orange: #e67e22;
  --black: #333;
  --light-color: #777;
  --border: 0.1rem solid rgba(0, 0, 0, 0.2);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  font-weight: normal;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  background-image: url("../images/bg.jpg");
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #fff;
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  padding: 1.2rem 7%;
}

.header .logo {
  font-family: "Remachine Script Personal Use Regular";
  color: var(--black);
  font-size: 40px;
  margin-right: auto;
}

.header .navbar a {
  color: var(--light-color);
  margin-right: 2rem;
  font-size: 1.7rem;
  text-transform: capitalize;
  font-family: "Calibri";
}

.header .navbar a:hover {
  color: var(--orange);
}

main {
  padding: 10px;
}

.gallery {
  margin-top: 10%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  row-gap: 1%;
  column-gap: 1%;
}

.gallery-item {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.gallery-item img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
}

.gallery-item:hover img {
  transform: scale(1.1);
}

.overlay {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery-item:hover .overlay {
  opacity: 0.5;
  font-family: "Calibri";
}

.overlay h2,
.overlay p {
  margin: 0;
}

.overlay h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.overlay p {
  font-size: 16px;
}
